.idea/
.venv/
__pycache__/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.python-version

app/logs/*
!app/logs/.gitkeep
app/settings.json
app/translations/*
!app/translations/*.ts
app/Mods/*
!app/Mods/.gitkeep

/tools/output/*
!tools/output/.gitkeep
