.idea/
.venv/
__pycache__/
logs/*
!logs/.gitkeep
settings.json
/translations/*
!/translations/*.ts
/tools/output/*
!tools/output/.gitkeep
/Mods/*
!/Mods/.gitkeep
.mypy_cache/
.pytest_cache/
.ruff_cache/
